.container {
  display: flex;
  flex-direction: row;
  min-height: 768px;
  padding: 20px;
  background: #f0f2f5;
  :global {
    .ant-menu-root.ant-menu-vertical {
      .ant-menu-item { padding-right: 20px; }
      margin-right: 10px;
    }
    .ant-layout-content {
      padding: 0;
      .ant-spin-nested-loading {
        height: 100%;
        .ant-spin-container {
          height: inherit;
        }
      }
    }
  }
}